.search-bar {
  border: 2px solid $border-gray;
  border-radius: 8px;
  margin: 15px 0px;
  outline: none;
  padding: 8px;
  flex: 2;
  //box-sizing: border-box;
  transition-duration: 300ms;
  &:hover {
    border-color: $blue;
    box-shadow: 0 0 8px 0 $blue;
  }
}
