.user-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  overflow: hidden;
}

.table-row-align-left {
  text-align: left;
}
.table-border-bottom {
  border-bottom: 2px solid black;
}
.table-header th {
  text-transform: capitalize;
  font-weight: 600;
  color: $text-black;
  padding: 12px 20px 12px 0px;
}

.table-body td {
  font-weight: 100;
  color: $text-black;
  text-align: left;
  padding: 15px 50px 15px 0px;
}
.table-body-hover {
  &:hover {
    background-color: $tabke-row-hover;
  }
}

.table-body tr:nth-of-type(even) {
  background-color: $table-even-rows;
  &:hover {
    background-color: $tabke-row-hover;
  }
}

.table-link {
  color: $blue !important ;
}
