$button-visible: hidden;
.user-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  overflow: hidden;
}

.table-row-align-left {
  text-align: left;
}
.table-border-bottom {
  border-bottom: 1px solid $text-black;
}
.table-header th {
  text-transform: capitalize;
  font-weight: 600;
  color: $text-black;
  padding: 12px 20px 12px 0px;
}

.table-body td {
  font-size: 0.8em;
  font-weight: 100;
  color: $text-black;
  text-align: left;
  padding: 15px 30px 15px 0px;
}

.table-body tr {
  &:hover {
    background-color: $tabke-row-hover !important;
    $button-visible: visible;
    .remove-row {
      padding: 15px;
      opacity: 1;
      cursor: pointer;
    }
  }
  &:nth-of-type(even) {
    background-color: $table-even-rows;
  }
}

.remove-row {
  opacity: 0;
}

.table-link {
  color: $blue !important ;
}
